
.bg-image-container {
  background-color: rgb(197, 181, 196);
  background-image: url("../../assets/sheepBgResized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-blend-mode: multiply;
}

.bg-image-container .background-image {
  object-fit: fill;
  width: 100%;
}