.form-cont {
  width: auto;
}

.form-input {
  width: 100%;
  background-color: #E3EBF3;
  border: solid 1px rgb(209, 209, 209);
  padding: .4rem 1rem;
  border-radius: 2px;
  outline: none;
  border-color: #009099;
}

.form-btn {
  width: fit-content;
  padding: 1em 2.5em;
  border-radius: 3px;
  background-color: #2c9da5;
  border: none;
}

/* .filter-btn:hover */
.form-btn:hover {
  background-color: #1f878f;
}

.form-btn:active {
  background-color: #17777e !important;
}

.form-input:disabled {
  background-color: rgb(209, 209, 209);
}

.cancel-btn {
  background-color: rgb(172, 165, 165);
  transition: all ease-in-out .2s;
}

.cancel-btn:hover {
  background-color: rgb(150, 146, 146);
}

.cancel-btn:active {
  background-color: gray !important;
}

.delete-btn {
  background-color: rgb(211, 99, 99);
  transition: all ease-in-out .2s;
}

.delete-btn:hover {
  background-color: rgb(207, 62, 62);
}

.delete-btn:active {
  background-color: rgb(187, 75, 75) !important;
}

.my-input:read-only {
  background-color: transparent;
  border: solid 1px rgb(201, 201, 201);
}

.my-label {
  padding: 0.5rem 1px;
  margin: 0;
}

.standalone-label {
  padding: 0px 12px;
}

.large-input {
  width: 100%;
  max-width: 40rem;
  padding: 0px;
}

.medium-input {
  max-width: 25rem;
  width: 100%;
  padding: 0px;
}

.small-input {
  min-width: 18rem;
  width: 100%;
  padding: 0px;
}

.my-link {
  text-decoration: none;
  color: #00087d;
  font-weight: bold;
  font-size: 1rem;
}