
.cont {
  height: 100vh;
  background-color: #E3EBF3;
  margin: 0;
  /* SUBSTITUIR POR FONTE QUE VAMOS USAR
  font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.pg-title {
  font-weight: bold;
  font-size: 3.2rem;
}

.my-form {
  border-radius: 6px;
  box-shadow: 0px 2px 3px grey;
}

.form-input {
  width: 100%;
  background-color: #E3EBF3;
  border: solid 1px rgb(209, 209, 209);
  padding: .4rem 1rem;
  border-radius: 3px;
  outline: none;
}


.my-link {
  text-decoration: none;
  color: #00287D;
  font-weight: bold;
  font-size: 1.1rem;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
