.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  max-width: 300px;
  padding: 0;
}

.profile-picture-one {
  max-width: 100px;
  border-radius: 100%;
}

.profile-picture-two {
  max-width: 60px;
  border-radius: 100%;
}

.option-text {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.option-icon {
  width: 28px;
}

.sidebar-text {
  font-size: 1.1rem;
}

.nav-option.active {
  background-color: #eee;
}

.submenu-item {
  padding-left: 20px;
  color: #555;
  cursor: pointer;
}

.submenu-item:hover {
  color: #000;
}