body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  min-height: 100vh;
}

.cont {
  min-height: 100vh;
  height: 100%;
  background-color: #F1F3FC;
  margin: 0;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-decoration {
  text-decoration: none;
}

.my-select {
  max-width: 140px;
}

.my-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  padding: 3rem 0;
}

.limit-600 {
  max-width: 600px;
}

.edit-icon {
  width: 16px;
}