body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont, .sidebar {
  font-family: "DM Sans";
}

.page-title {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-decoration {
  text-decoration: none;
}

.my-select {
  max-width: 140px;
}

.sla {
  border: solid black 2px;
}
